// Header styles
.header {
  background: $color-primary;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: $color-primary-light-1;
  text-decoration: none;

  h1 {
    margin: 0 2rem;
    padding: 2rem;
  }
}
