.search{
  width: 30%;
  margin-left: 1rem;

  @media only screen and (max-width: $bp-xs-small) {
    margin-left: 0;
  }

  &__form{
    display: block;
    z-index: 10;
    position: absolute;
    background: $color-primary-light-1;
    padding: 2rem;
    width: 55%;
    margin: 2rem;
    top: 10rem;

    @media only screen and (max-width: $bp-xs-small) {
      width: 100vw;
      margin-left: 0;
    }
  }

}

