// Colors
$color-primary-dark-1: #364051;
$color-primary-light-1: #F7F7F7;
$color-primary:#364051;

$dark-grey: #333333;
$grey: #666666;
$blue: #1C88BF;
$dark-blue: #364051;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

$off-black: #20222B;

//$off-white: #a5afd7;
$off-white: #F7F7F7;

//$blue: #3c4251;
$light-blue: #464B5E;

//$dark-blue: #333745;
$purple: #8357C5;

// RESPONSIVE BREAKPOINTS
$bp-medium: 56.25em;    // 800px;
$bp-medium-1: 63.5em; //1016
$bp-small: 37.5em;    // 600/16px;
$bp-xs-small: 34.25em;    // 600/16px;
