// Colors
$dark-grey: #333333;
$grey: #666666;
$blue: #1C88BF;
$dark-blue: #364051;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

$off-black: #20222B;

//$off-white: #a5afd7;
$off-white: #F7F7F7;

//$blue: #3c4251;
$light-blue: #464B5E;

//$dark-blue: #333745;
$purple: #8357C5;

// Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// sreem
$desktop-breakpoint: 45rem;
